header {
  width: 100%;
  color: $white;
  background-color: transparent;
  font-family: DM Sans;
  font-weight: 400;

  .container {
    position: absolute;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    line-height: 2.5em;
  }

  ul,
  li,
  a {
    font-size: 1.1rem;
    background-color: rgb(165, 0, 165);
    border-radius: 20px;
    display: flex;
    align-items: center;
  }

  ul {
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    box-shadow: 0 0 50px rgba(242, 0, 242, 0.9);
    -webkit-box-shadow: 0 0 50px rgba(242, 0, 242, 0.9);
    -moz-box-shadow: 0 0 50px rgba(242, 0, 242, 0.9);
    color: whitesmoke;
    text-decoration: none;
    padding: 0 1em;
  }

  p {
    font-weight: 500;
    margin: 0;
  }
}
