.letter-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeIn 0.2s;

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__container {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    position: relative;
    width: 80%;
    height: 80%;
  }

  &__card-close-button {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

  }

  &__card {
    position: relative;
    background-color: white;
    padding: 2rem 3.5rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__card-header {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }

  &__card-body {
    flex-grow: 1;
    font-size: 1rem;
    overflow-y: scroll;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 100%;
      height: auto;
    }
  }
}


@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}